<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title>Members Area &vert; <%= pageinfo.title %></title>
</head>
<body>
    <nav class="navbar__top">
        <div class="container__toplevel">
            <a href="/" class="">
                <div class="frame__avatar">
                    <% if (profilePic) { %>
                        <img src="data:image/<%= profilePic.contentType%>;base64,<%= profilePic.data.toString('base64')%>" id="avatar" alt="profile pic">
                    <% } else { %>
                        <img src="../411-500x500.jpg" data-note="src is given relative to public folder not the ejs" id="logo" alt="logo">
                    <% }  %>
                </div>
            </a>
            <div class="nav__greeting">
                <span class="subtitle"><%= loggedInUser.userName %></span>
            </div>
        </div>

        <input type="checkbox" id="burgerInput" class="hide__mobile">
        <label id="burgerMenu" for="burgerInput" class="hide__mobile">
            Menu 
            <nav class="nav__mobile">
                <a href="/todos" class="nav__mobile_item">Dashboard</a>
                <a href="/main" class="nav__mobile_item">Home</a>
                <a href="/logout" class="nav__mobile_item">Log out</a>
            </nav>
        </label>
		<div class="overlay"></div>

        <ul class="nav__main">
            <li class="nav__main_item">
                <a href="/todos">Dashboard</a>
            </li>
            <li class="nav__main_item">
                <a href="/main">Home</a>
            </li>
            <li>
                <a href="/logout" class="btn btn__tertiary">Log out</a>
            </li>
        </ul>
    </nav>

    <div id="#top" data-info="exists as top anchor" tabindex="-1"></div>