<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title><%= pageinfo.title %></title>
</head>
<body>
    <header class="container__toplevel header">
        <div class="section__feat invert">
            <div class="Header__titles">
                <span class="subtitle invert">Lorem Ipsum</span>
                <h1>Dolor sit amet consectetur</h1>
            </div>
            <div class="block__accent">
                <a href="#latest" class="btn btn__secondary">See the latest</a>
            </div>
        </div>
        <div class="section__cta">
            <h2 class="subtitle">Make your own list</h2>
            <ul class="nav__main">
                <li class="nav__main_item">
                    <a href="/login">Login</a>
                </li>
                <li class="nav__main_item">
                    <a href="/signup">Signup</a>
                </li>
            </ul>
        </div>
    </header>
    <main id="latest" class="Intro container__toplevel">
        <header class="">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis!</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda error nihil debitis eius, inventore non quas doloribus illum similique autem.</p>
        </header>
        <div class="block__2_modules">
            <div class="container__img">
                <img src="https://picsum.photos/500/500?random=1" alt="random img">
                <figcaption class="label__img invert">
                    <h3 class="subtitle">Lorem ipsum</h3>
                    <span>5 days &middot; 4 nights &vert; TKTKTK</span>
                </figcaption>
            </div>
            <div class="container__img">
                <img src="https://picsum.photos/500/500?random=2" alt="random img">
                <figcaption class="label__img invert">
                    <h3 class="subtitle">Lorem ipsum</h3>
                    <span>1 weekend or 2.5 days &vert; TKTKTK</span>
                </figcaption>
            </div>
            <a href="" class="btn btn__tertiary">Back to top</a>
        </div>
    </main>
</body>
</html>