<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title>Log in &vert; <%= pageinfo.title %></title>
</head>
<body>
    <header id="top" class="container__toplevel header">
        <div class="section__feat invert">
            <div class="Header__titles">
                <span class="subtitle invert">Lorem Ipsum</span>
                <h1><%= pageinfo.mainPhrase.join(' ') %></h1>
            </div>
            <div class="block__accent">
                <a href="#latest" class="btn btn__secondary">See the latest</a>
            </div>
        </div>
        <div class="section__cta">
            <h2 class="subtitle">Log in</h2>
            <form action="/login" method="POST" class="form">
                <input type="email" name="email" placeholder="Email" class="nav__main_item">
                <input type="password" name="password" placeholder="Password" class="nav__main_item">
                <button class="btn btn__secondary">Submit</button>
            </form>
            <a href="/signup" class="btn btn__tertiary">New user? Sign up</a></span>
        </div>
    </header>

    <main id="" class="Intro container__toplevel">
        <header class="">
            <h2>Notice</h2>
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger">
                        <p><%= el.msg %></p>
                    </div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger">
                        <p><%= el.msg %></p>
                    </div>
                <% }) %>    
            <% } %>
        </header>
        <div class="">
            <div class="container__img">
                <img src="https://picsum.photos/800/750?random=1" alt="random img">
                <!-- <figcaption class="label__img invert">Nothing to see here</figcaption> -->
            </div>
            <a href="" class="btn btn__tertiary">Back to top</a>
        </div>
    </main>
</body>
</html>