<%- include('partials/header-members') -%>

<main id="" class="Intro container__toplevel">
    <header class="">
        <div class="container__toplevel">
            <div class="block">
                <div class="container__img Personal">
                    <img src="https://picsum.photos/900/500?random=1" alt="">
                </div>
                <h1><%= member.userName %></h1>
                <span class="subtitle">Member Profile</span>
            </div>
        </div>
    </header>
    <%- include('partials/list-members') -%>

</main>

<%- include('partials/footer-members') -%>
