<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title>Sign up &vert; <%= pageinfo.title %></title>
</head>
<body>
    <header id="top" class="container__toplevel header">
        <div class="section__feat invert">
            <div class="Header__titles">
                <span class="subtitle invert">Lorem Ipsum</span>
                <h1><%= pageinfo.mainPhrase.join(' ') %></h1>
            </div>
        </div>
        <div class="section__cta">
            <h2 class="subtitle">Create an account</h2>
            <form 
                action="/signup" 
                method="PUT" 
                class="form"
                enctype="multipart/form-data"
            >
                <input type="text" name="userName" placeholder="Username" class="nav__main_item">
                <fieldset>
                    <legend class="label__upload_img">
                        Add a profile image
                    </legend>
                    <input type="file" id="profilePic" name="profileImg" accept="image/*" value = "">
                </fieldset>
                <input type="email" name="email" placeholder="Email" class="nav__main_item">
                <input type="password" name="password" placeholder="Password" class="nav__main_item">
                <input type="password" name="confirmPassword" placeholder="Confirm password" class="nav__main_item">
                <button class="btn btn__secondary">Submit</button>
            </form>
            <a href="/login" class="btn btn__tertiary">Returning user? Log in</a></span>
        </div>
    </header>

    <section id="" class="Intro container__toplevel">
        <div class="">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger">
                        <p><%= el.msg %></p>
                    </div>
                <% }) %>    
            <% } %>
        </div>
    </section>






    
    
    
</body>
</html>