<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css"> 
    
    <title>Members Area &vert; Under Construction</title>
</head>
<body>
    <div class="Intro container__toplevel">
        <h1>Under construction</h1>
        <a href="/main" class="btn__tertiary btn">Return home</a>
    </div>
</body>
</html>