/* Elements and baseline ================= */

:root {
    --font-default: Arial, Helvetica, sans-serif;
    --font-standout: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* skews red */
    --color-light: 244, 244, 244;
    --color-lightest: 255, 255, 255;
    --color-neonyellow: 255,255,0;
    --color-umber: 115, 41, 41;

    /* skews blue */
    --color-dark: 49,49,49;
    --color-darkest: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bkg: rgb(var(--color-lightest));
        --color-top: rgb(var(--color-darkest));
        --color-invert: rgb(var(--color-light));
        --color-mid-ground: rgb(var(--color-dark));
        --color-highlight: rgb(var(--color-neonyellow));
        --color-accent: rgb(var(--color-umber));
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bkg: rgb(var(--color-dark));
        --color-top: rgb(var(--color-lightest));
        --color-invert: rgb(var(--color-light));
    }
}

html {
    font-size: 62.5%;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-default);
    background: var(--color-bkg);
    color: var(--color-top);
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

body *::selection {
    background: var(--color-highlight);
    color: rgb(var(--color-dark));
}

a {
    text-decoration: none;
    color: rgba(var(--color-highlight));
}

a:hover {
    color: var(--color-accent);
}

p {
    line-height: 1.5em;
}

:not(.container__img, .frame__avatar) > img {
    /* no containers */
    margin: 3rem;
}

ul {
    list-style: none;
}

.list__ofItems {
    display: flex;
    flex-direction: column;
}

.todoItem {
    /* also used for reqs */
    margin-bottom: 1rem;
}

h1,
h2 {
    font-family: var(--font-standout);
    letter-spacing: 0.2em;
    font-weight: 300;
}

input {
    padding: 0.5rem;
}

input[type="checkbox"] {
    font-size: smaller;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    border-width: 0;
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-invert);
    background: var(--color-accent);
    transition: all 0.4s ease-in 0s;
}

.btn:is(:hover,:focus){
    filter:brightness(1.5);
    color: var(--color-invert);
}

.btn__secondary {
    border: 1px solid var(--color-bkg);
    color: var(--color-invert);
    background: var(--color-mid-ground);
    width: fit-content;
}

.btn__tertiary {
    background: var(--color-invert);
    color: var(--color-top);
    font-size: 1rem;
    border: 1px solid var(--color-top);
    width: fit-content;
}

.btn__tertiary:hover {
    background: var(--color-bkg);
    color: rgb(var(--color-top));
}

.btn__tertiary.Foot {
    margin-top: 1rem;
}

/* unique assets */
.frame__avatar {
    border-radius: 50%;
    overflow: hidden;
}
.frame__avatar img {
    height: 100%;
    width: auto;
}

a[data-info="go-edit-user"] {
    font-weight: bold;
    cursor:pointer;
}

/* special properties */
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: green wavy underline;
}

.invert {
    color: var(--color-invert);
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 1.6rem;
}


/* Modules ================= */

.container__toplevel {
    width: 100vw;
    height: 100%;
    display: flex;
}

.container__toplevel.header {
    justify-content: space-between;
}

.section__feat {
    width: 50%;
    height: 100%;
    padding: 4rem;
    background:  center/cover no-repeat url('../header_pexels-james-lee-2017021.jpg');
    overflow: hidden;
}

.Header__titles {
    /* writing-mode: vertical-rl;
    max-height: 80vh; */
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.block {
    /* a bland block */
    padding: 5rem;
}

.block__nested {
    max-width: 30%;
}

form + .block {
    margin-top: 3rem;
}

.block__accent {
    background: var(--color-mid-ground);
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
}

.section__cta {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.section__cta .btn__tertiary {
    /* format now linked to meaning */
    margin-top: 5rem;
}

.section__cta button {
    width: fit-content;
    align-self:flex-end;
}

.nav__main {
    display: flex;
    font-family: var(--font-standout);
}

.nav__main_item {
    line-height: 2.5rem;
    letter-spacing: 0.2em;
    text-align: right;
}

.nav__main_item::before {
    content:"";
    display: block;
    background: var(--color-top);
    height: 1px;
    width: 20rem;
}

.navbar__top {
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-invert);

    position: sticky;
    top:0;
    z-index:3; /* above subseq */
}

.navbar__top .frame__avatar {
    height: 7rem;
    width: 7rem;
    margin-right: 3rem;
}

.navbar__top .container__toplevel {
    align-items: center;
}

.navbar__top .subtitle {
    font-size: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.navbar__top .nav__main {
    align-items:baseline;
}

.navbar__top .nav__main_item {
    text-align: center;
}

li:last-child .btn {
    margin: 0 0.5rem;
}

.container__toplevel.Intro {
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
    background: var(--color-invert);
}

.container__toplevel.Intro header {
    width: 70%;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
}
.Intro h2 {
    font-size: 2rem;
}

.block__2_modules {
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.blokc__2_modules.Main {
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.block__2_modules .container__img {
    transition: all 0.4s ease-in 0s;
}

.block__2_modules .container__img:hover {
    filter:brightness(1);
    filter:contrast(0.5);
}

.container__img img {
    width: 100%;
    height: auto;
}
.block__2_modules .container__img img{
    filter:grayscale(0.5);
    transition: all 0.4s ease-in 0s;
}

.label__img {
    margin: 1rem 0;
    padding:1.5rem;
    border-left: 1px solid var(--color-top);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: smaller;
}
.label__img h3 {
    margin: 0;
}



/*PAGES ============================*/

.form {
    display: flex;
    flex-direction: column;
}
.form > * {
    margin: 0.5rem 0;
}

.form__inline {
    margin: 2rem;
    padding: 4rem;
    border: 2px solid var(--color-top);
    display: flex;
}

.container__form_inline {
    display: flex;
    align-items: center;
}

/*todos page ============================*/

.form__sidebar {
    padding: 2rem;
}

.container__toplevel.Personal {
    margin: 5rem 0;
    align-items: center;
}

.container__img.Personal {
    min-width: 70%;
}

.container__toplevel.container__list {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:6rem; /*extra to avoid nav obsc.*/
    /* flex-direction: column */
}
.container__list >.block {
    display: flex;
}

.container__announce .container__img {
    width: 60%;
    height: auto;
    align-self: right;
}

.frame__avatar.Personal {
    height: 15rem;
    width: 15rem;
}

.block__announce {
    display: flex;
    align-items: center;
}

.container__form_inline .form {
    padding-left: 2rem;
    border-left: 1px solid var(--color-top);
}

/* createTodos form ============================= */

.form__create_todos {
    margin: 2rem 0;
}

input[name='todoItem'] {
    /* add validation? */
    max-width: 40rem;
    border: none;
    border-bottom: 2px solid var(--color-accent);
}

.form__fieldset {
    border: none;
    padding: 0.5em 0.5em 1rem 0.5em;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}
